<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Try Bank!</title>
    <link rel="stylesheet" th:href="@{css/home.css}"/>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="top-container">
                <a href="https://github.com/jaewoopk" target="_blank">
                    <img src="../images/github_logo.png" alt="jaewoopk의 깃허브" class="github_logo">
                </a>
            </div>
        </header>
        <main class="main">
            <div class="background-container">
                <img src="../images/background.jpg" class="background-image">
                <p class="title" data-delay="800">Try Bank!</p>
                <p class="explanation1" data-delay="1400">모든 은행의 금융상품을</p>
                <p class="explanation2" data-delay="1800">더 쉽고,</p>
                <p class="explanation3" data-delay="2200">더 간편하게</p>
            </div>
        </main>


        <footer class="footer">
            <div class="link-container">
                <a href="https://github.com/junghyeonsu" target="_blank" class="link">GitHub<span class="yellow-point"></span></a>
                <a href="https://www.linkedin.com/in/hyeonsu-jung-5483911a5/" target="_blank" class="link">LinkedIn<span class="yellow-point"></span></a>
                <a href="https://junghyeonsu.tistory.com/" target="_blank" class="link">Tistory Blog<span class="yellow-point"></span></a>
                <a href="https://velog.io/@junghyeonsu" target="_blank" class="link">Velog<span class="yellow-point"></span></a>
                <a href="https://www.youtube.com/channel/UCkC6sYPPSvpnRprmp2GcXZw" target="_blank" class="link">YouTube<span class="yellow-point"></span></a>
            </div>
            <div class="bottom-container">
                <a href="mailto:jung660317@naver.com" class="email">jung660317@naver.com</a>
                <p class="last-updated" th:text="'Last update: ' + ${LAST_UPDATED}"></p>
            </div>
        </footer>
<!--        <article class="main">-->
<!--            <span class="fade-in-header-text" data-delay="1.5" class="sub-title">Try Bank!</span>-->
<!--    -->
<!--            <span class="fade-in-header-text" data-delay="1.9">-->
<!--                    <span class="title" th:text="${name}">대출과 예적금을</span> &lt;!&ndash; Assuming `name` is a variable from your model &ndash;&gt;-->
<!--                    <span class="sub-title">알아보자!</span>-->
<!--                </span>-->
<!--    -->
<!--            <div class="fade-in-body-text" data-delay="2.6">-->
<!--                <div class="body-text-container">-->
<!--                    <span class="body-text">CSS적용</span>-->
<!--                    <span class="body-text">예시</span>-->
<!--                    <span class="body-text">만들어보자</span>-->
<!--                </div>-->
<!--            </div>-->
<!--    -->
<!--            <div>-->
<!--                <div class="image-box">-->
<!--    -->
<!--                </div>-->
<!--            </div>-->
<!--    -->
<!--            <div class="fade-in-content" data-delay="3.5">-->
<!--                &lt;!&ndash; This part is a placeholder for the animated arrow icon. You can replace it with an appropriate icon or image. &ndash;&gt;-->
<!--                <span class="down-animated-arrow"></span>-->
<!--            </div>-->
<!--        </article>-->
    </div>
</body>
</html>
