<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try Bank!</title>
</head>
<body>
<div class="container">
    <main>
        <h2>Try Bank!</h2>
        <div class="body-text-container">
            <h2>최적의 금융플랜을</h2>
            <h1>가장 쉽게</h1>
            <h2>도와드립니다</h2>
        </div>
        <div class="image-box">

        </div>
        <div>
            <!-- Animated Arrow: 이 부분은 CSS와 JS가 필요하므로 적절한 아이콘 또는 이미지를 사용해주세요 -->
            <span class="down-animated-arrow"></span>
        </div>
    </main>
</div>
</body>
</html>
